@import '../../style/variables.scss';

.projects{
    &__title{
        @extend %h2;
        color: $main-text;
        padding-bottom: 10px;
        text-align: center;
    }
    &__descr{
        @extend %smallText;
        color: $grey-text;
        max-width: 400px;
        margin: 0 10% 3% 65%;
    }
    &__items{
        margin: 0 15%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px 30px;
    }
    &__item{
        &:nth-child(4), &:nth-last-child(2), &:last-child {
            align-self: baseline;
        }
    }
    @media (max-width: 568px) {
        &__items{
            gap: 30px;
        }
        &__descr{
            max-width: 400px;
            margin: 3% 10% 5% 30%;
        }
    }
    @media (max-width: 375px) {
        &__descr{
            max-width: 400px;
            margin: 3% 10% 5% 20%;
        }
        &__items{
            margin: 0;
        }
    }
}