@import '../../../style/variables.scss';

.skills__item{
    display: flex;
    gap: 20px;
    &:nth-child(3), &:nth-child(4), &:nth-child(7), &:nth-child(8) {
        margin-left: 100px;
    }
    .item__descr{
        transition: color 0.4s ease 0s;
        @extend %pageSkill;
        color: $sub-text;
        color: $grey-text;
        &:hover{
            color: $img-color;
            cursor:none;
        }
    }
    img {
        max-width: 40px;
    }
}