@import '../../../style/variables.scss';

.skills__item{
    width: 15vw;
    min-width: 180px;
    transition: color 0.4s ease 0s, transform 0.4s ease-out;
    @extend %pageSkill;
    color: $grey-text;
    cursor: default;
    &:hover{
        color: $img-color;
        transform: scale(1.2);
    }
    &:nth-child(3), &:nth-child(4), &:nth-child(7), &:nth-child(8) {
        margin-left: 3vw;
    }
}