@import '../../../style/variables.scss';

.header{
    padding: 30px 140px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 47px;
        color: $main-text;
    }
    &__links{
        display: flex;
        gap: 40px;
        @extend %link;
        color: $main-text;
    }
    &__link{
        transition: text-shadow 0.3s linear;
        &_active, &:hover{
            color: $sub-text;
            text-shadow: $sub-text 1px 3px 8px ;
        }
    }
}

@media (max-width: 768px) {
    .header{
        &__menu{
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            z-index: 3;
            &::before, &::after {
                content: '';
                background-color: $main-text;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0px;
                transition: all 0.3s ease 0s;
                z-index: 5;
            }
            &::before{
                top: 0;
            }
            &::after{
                bottom: 0;
            }
        }
        &__menu span {
            position: absolute;
            z-index: 5;
            background-color: $main-text;
            width: 100%;
            height: 2px;
            top: 9px;
            transition: all 0.3s ease 0s;
        }
        &__logo{
            z-index: 5;
        }
        &__nav{
            position: fixed;
            z-index: 2;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $bg-main;
            padding: 100px 15% 0;
            transition: all 0.5s ease 0s;
            overflow: auto;
            &_active{
                top: 0;
            }
        }
        &__menu_active::before{
            transform: rotate(45deg);
            top: 9px;
        }
        &__menu_active::after{
            transform: rotate(-45deg);
            bottom: 9px;
        }
        &__menu_active span{
            transform: scale(0);
        }
        &__links{
            flex-direction: column;
            gap: 30px;
        }
    }
    .nav__item:last-child{
        border-top: 0.5px solid #1B1A1A;
        padding-top: 20px;
        margin-left: 0px;
        max-width: 200px;
    }
}
@media (max-width: 568px) {
    .header{
        padding: 30px 140px 0;
    }
}
@media (max-width: 425px) {
    .header{
        padding: 30px 60px 0;
    }
}
@media (max-width: 375px) {
    .header{
        padding: 30px 40px 0;
    }
}