@import '../../../style/variables.scss';

.inputCn{
    @extend %inputText;
    color: $sub-text;

    width: 430px;
    padding: 10px 0;
    background: inherit;
    border: none;
    border-bottom: 1px solid #AEAEAE;
    transition: box-shadow 0.3s linear;
    
    &::placeholder{
        color: $grey-text;
    }
    &:focus, &:hover{
        outline: none;
        box-shadow: 0px 5px 7px -5px $grey-text;
    }
    @media (max-width: 768px) {
        max-width: 300px;
    }
}