@import '../../style/variables.scss';

.main{
    padding: 0 10%;
    &__title{
        font-weight: 700;
        font-size: 48px;
        line-height: 62px;
        color: $main-text;
        margin-bottom: 15px;
    }
    &__descr{
        font-weight: 500;
        font-size: 22px;
        line-height: 29px;
        color: #828282;
    }
    &__links{
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        margin-top: 30px;
    }
    &__btn{
        @extend %socBtn;
        font-size: 45px;
    }
    @media (max-width: 568px) {
        padding: 0 100px;
        &__title{
            font-weight: 600;
            font-size: 44px;
            line-height: 56px;
            color: $main-text;
            margin-bottom: 15px;
        }
    }
    @media (max-width: 425px) {
        padding: 0 60px;
    }
    @media (max-width: 375px) {
        padding: 0 50px;
    }
}