@import '../../style/variables.scss';

.main{
    padding: 0 170px;
    &__title{
        font-weight: 700;
        font-size: 48px;
        line-height: 62px;
        color: $main-text;
        margin-bottom: 15px;
    }
    &__descr{
        font-weight: 500;
        font-size: 22px;
        line-height: 29px;
        color: #828282;
    }
    &__links{
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        margin-top: 30px;
    }
    &__btn{
        transition: color 0.4s ease 0s;
        background-color: inherit;
        border: none;
        cursor: pointer;
        font-size: 45px;
        color: $img-color;
        &:hover{
            color: $grey-text;
        }
    }
}