@import '../../style/variables.scss';

.skills{
    max-width: 90%;
    margin: 0 auto;
    &__title{
        text-align: center;
        @extend %h2;
        padding-bottom: 40px;
    }
    &__content{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    &__items{
        max-width: 800px;
        display: flex;
        flex-wrap: wrap;
        gap: 4vw 30%;
    }
    &__descr{
        text-align: center;
        max-width: 500px;
        @extend %mainText;
        color: $sub-text;
    }
    @media (max-width: 768px) {
        &__items{
            gap: 50px;
        }
        &__title{
            padding-bottom: 20px;
        }
        &__descr{
            padding-bottom: 20px;
        }
    }
    @media (max-width: 568px) {
        &__descr{
            padding: 0 0 60px;  
        }
    }
}