@import '../../style/variables.scss';

.skills{
    max-width: 90%;
    margin: 0 auto;
    &__title{
        text-align: center;
        @extend %h2;
        padding-bottom: 40px;
    }
    &__content{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    &__items{
        max-width: 55vw;
        display: flex;
        flex-wrap: wrap;
        gap: 3vw 20%;
    }
    &__descr{
        text-align: right;
        max-width: 500px;
        @extend %mediumText;
        color: $sub-text;
        padding-bottom: 60px;
    }
    @media (max-width: 768px) {
        &__content{
            align-items: center;
            flex-direction: column;
        }
        &__items{
            gap: 50px;
        }
        &__title{
            padding-bottom: 20px;
        }
        &__descr{
            max-width: 400px;
        }
    }
}