@import '../../style/variables.scss';

.skills{
    padding: 0 50px;
    &__title{
        text-align: center;
        @extend %h2;
        color: $main-text;
        span {
            color: $grey-text;
        }
        padding-bottom: 40px;
    }
    &__content{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    &__items{
        max-width: 800px;
        display: flex;
        flex-wrap: wrap;
        gap: 4vw 30%;

    }
    &__descr{
        text-align: center;
        max-width: 500px;
        @extend %mainText;
        color: $sub-text;
    }
}