@import '../../style/variables.scss';

.content{
    &__main{
        margin-top: 10%;
    }
    &__block{
        &_top{
            margin-top: 10px;
        }
        &_middle{
            margin-top: 50px;
        }
    }
    @media (max-width: 568px) {
        &__main{
            margin-top: 15%;
        }
        &__block{
            &_top{
                margin-top: 80px;
                margin-bottom: 30px;
            }
            &_middle{
                margin-top: 80px;
                margin-bottom: 30px;
            }
        }
    }
    @media (max-width: 425px) {
        &__main{
            margin-top: 30%;
        }
    }
}



.fade-appear,
.fade-enter {
    margin-top: 0;
    opacity: 0;
    z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
    margin-top: 1%;
    opacity: 1;
    transition: opacity 450ms linear 250ms;
}
.fade-exit {
    transition: margin-top 500ms linear;
    margin-top: 1%;
    opacity: 1;
}
.fade-exit.fade-exit-active {
    opacity: 0;
    margin-top: 100%;
    transition: margin-top 500ms linear;
    transition: opacity 400ms linear;
}
.fade-enter-done{
    transition: margin-top 500ms ease-out;
}