@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Lato:wght@300;400;700&family=Manrope:wght@300&display=swap');

*{
    //font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'DM Sans', sans-serif;
    // font-family: 'Lato', sans-serif;
    // font-family: 'Manrope', sans-serif;
}

body{
    overflow: hidden;
    width: 100%;
    height: 100%;
    // background: linear-gradient(to right, var(--bg) 50%, var(--bg-main) 50%);
    // background-color: var(--bg);
    transition: background-color 400ms linear;
    @media (max-width: 1024px) {
        overflow: scroll;
        scrollbar-width: thin;
        scrollbar-color: $grey-text;
        overflow: auto;
        scrollbar-gutter: stable;
    }
}

ul,
li,
dl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

p {
    margin: 0;
    padding: 0;
}