/*color*/
$img-color: #8e8e8e;
$beige-bg: #E8E8E8;

$bg-main: var(--bg-main);
$bg: var(--bg);
$main-text: var(--main-text);
$sub-text: var(--sub-text);
$grey-text: var(--grey-text);

/*text*/
%h2 {
    font-weight: 700;
    font-size: 56px;
    line-height: 73px;
    @media (max-width: 768px) {
        font-weight: 600;
        font-size: 48px;
        line-height: 65px;
    }
    color: $main-text;
    span {
        color: $grey-text;
    }
}

/*шапка и подписи к соц сетям*/
%link {
    font-weight: 400; //700
    font-size: 18px;
    line-height: 23px;
}

/*основной текст на страницах*/
%mainText {
    font-weight: 500;
    font-size: 30px;
    line-height: 39px;
    @media (max-width: 768px) {
        font-size: 26px;
        line-height: 34px;
    }
}

/*текст на странице проекты*/
%smallText {
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
}

/*текст на странице проекты*/
%mediumText {
    font-weight: 400;
    font-size: 25px;
    line-height: 36px;
}

%pageSignature {
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
}

%pageSkill{
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    @media (max-width: 568px) {
        font-weight: 700;
        font-size: 30px;
        line-height: 32px;
    }
}

%inputText{
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}

%socBtn {
    transition: color 0.4s ease 0s, text-shadow 0.3s linear;
    background-color: inherit;
    border: none;
    cursor: pointer;
    color: $img-color;
    &:hover{
        color: $grey-text;
        text-shadow: $img-color 1px 0 10px ;
    }
}

@mixin poly($left, $time, $wd) {
    position: absolute;
    height: 100%;
    width: $wd;
    left: $left;
    top: 0;
    transition: transform 0.5s ease-in;
    animation: animBg 4s forwards $time infinite;
}

@keyframes animBg {
    50% {
        transform: translate(-2vw);
    }
    100% {
        transform: translate(0);
    }
}
