@import '../../../style/variables.scss';

.polygon{
    height: 100%;

    // @for $i from 1 through 8 {
    //     &_#{$i}{
    //         @include poly(43vw + 2vw);
    //         background: $dark-grey-bg;
    //         &:hover{
    //             transform: translate(-3vw);
    //         }
    //     }
    //   }
    &_1{
        @include poly(43vw);
        background: $bg;
        clip-path: polygon(50% 0, 75% 0, 93% 24%, 98% 65%, 76% 100%, 50% 100%, 21% 100%, 4% 62%, 5% 26%, 25% 0);
        &:hover{
            transform: translate(-3vw);
        }
    }
    &_2{
        @include poly(44vw);
        background-color: $bg-main;
        clip-path:polygon(49% 0, 78% 0%, 96% 27%, 100% 68%, 77% 100%, 50% 100%, 21% 100%, 7% 66%, 3% 23%, 25% 0%);
        &:hover{
            transform: translate(-2vw);
        }
    }
    &_3{
        @include poly(48vw);
        background-color: $bg;
        clip-path: polygon(50% 0, 75% 0, 93% 24%, 98% 65%, 76% 100%, 50% 100%, 21% 100%, 4% 62%, 5% 26%, 25% 0);
        &:hover{
            transform: translate(-3vw);
        }
    }
    &_4{
        @include poly(50vw);
        background-color: $bg-main;
        clip-path:polygon(49% 0, 78% 0%, 96% 27%, 100% 68%, 77% 100%, 50% 100%, 21% 100%, 7% 66%, 3% 23%, 25% 0%);
        &:hover{
            transform: translate(-2vw);
        }
    }
    &_5{
        @include poly(53vw);
        background-color: $bg;
        clip-path: polygon(50% 0, 75% 0, 93% 24%, 98% 65%, 76% 100%, 50% 100%, 21% 100%, 4% 62%, 5% 26%, 25% 0);
        &:hover{
            transform: translate(-2vw);
        }
    }
    &_6{
        @include poly(57vw);
        background-color: $bg-main;
        clip-path:polygon(49% 0, 78% 0%, 96% 27%, 100% 68%, 77% 100%, 50% 100%, 21% 100%, 7% 66%, 3% 23%, 25% 0%);
        &:hover{
            transform: translate(-2vw);
        }
    }
    &_7{
        @include poly(59vw);
        background-color: $bg;
        clip-path: polygon(50% 0, 75% 0, 93% 24%, 98% 65%, 76% 100%, 50% 100%, 21% 100%, 4% 62%, 5% 26%, 25% 0);
        &:hover{
            transform: translate(-2vw);
        }
    }
    &_8{
        @include poly(63vw);
        background-color: $bg-main;
        clip-path:polygon(49% 0, 78% 0%, 96% 27%, 100% 68%, 77% 100%, 50% 100%, 21% 100%, 7% 66%, 3% 23%, 25% 0%);
        &:hover{
            transform: translate(-2vw);
        }
    }
    
    &_9{
        @include poly(65vw);
        background-color: $bg;
        clip-path: polygon(50% 0, 75% 0, 93% 24%, 98% 65%, 76% 100%, 50% 100%, 21% 100%, 4% 62%, 5% 26%, 25% 0);
        &:hover{
            transform: translate(-2vw);
        }
    }
    &_10{
        @include poly(70vw);
        background-color: $bg-main;
        clip-path:polygon(49% 0, 78% 0%, 96% 27%, 100% 68%, 77% 100%, 50% 100%, 21% 100%, 7% 66%, 3% 23%, 25% 0%);
        &:hover{
            transform: translate(-2vw);
        }
    }
    &_11{
        @include poly(71.5vw);
        background-color: $bg;
        clip-path: polygon(50% 0, 75% 0, 93% 24%, 98% 65%, 76% 100%, 50% 100%, 21% 100%, 4% 62%, 5% 26%, 25% 0);
        &:hover{
            transform: translate(-2vw);
        }
    }
}