@import '../../../style/variables.scss';

.polygon{
    background: linear-gradient(to right, var(--bg) 50%, var(--bg-main) 50%);
    height: 100%;
    width: 100%;
    position: absolute;
    :nth-child(odd) {
        background: $bg;
        clip-path: polygon(50% 0, 75% 0, 93% 24%, 98% 65%, 76% 100%, 50% 100%, 21% 100%, 4% 62%, 5% 26%, 25% 0);
    }
    :nth-child(even) {
        background-color: $bg-main;
        clip-path:polygon(49% 0, 78% 0%, 96% 27%, 100% 68%, 77% 100%, 50% 100%, 21% 100%, 7% 66%, 3% 23%, 25% 0%);
    }
    :nth-child(11){
        @include poly(42vw, 10ms, 350px);
    }
    :nth-child(10){
        @include poly(43.4vw, 150ms, 350px);
    }
    :nth-child(9){
        @include poly(47.5vw, 200ms, 350px);
    }
    :nth-child(8){
        @include poly(50vw, 300ms, 350px);
    }
    :nth-child(7){
        @include poly(53vw, 400ms, 350px);
    }
    :nth-child(6){
        @include poly(56.5vw, 500ms, 350px);
    }
    :nth-child(5){
        @include poly(59vw, 600ms, 350px);
    }
    :nth-child(4){
        @include poly(63vw, 700ms, 350px);
    }
    :nth-child(3){
        @include poly(65vw, 800ms, 350px);
    }
    :nth-child(2){
        @include poly(70vw, 900ms, 350px);
    }
    :nth-child(1){
        @include poly(71.5vw, 1000ms, 350px);
    }


    @media (max-width: 1200px) {
        :nth-child(1), :nth-child(2) {
            display: none;
        }
    }
    @media (max-width: 768px) {
        :nth-child(3), :nth-child(4) {
            display: none;
        }
        :nth-child(11){
            @include poly(36vw, 10ms, 300px);
        }
        :nth-child(10){
            @include poly(38.4vw, 150ms, 300px);
        }
        :nth-child(9){
            @include poly(45vw, 200ms, 300px);
        }
        :nth-child(8){
            @include poly(48vw, 300ms, 300px);
        }
        :nth-child(7){
            @include poly(53vw, 300ms, 300px);
        }
        :nth-child(6){
            @include poly(56.5vw, 500ms, 300px);
        }
        :nth-child(5){
            @include poly(59.5vw, 600ms, 300px);
        }
    }
    @media (max-width: 568px) {
        display: none;
    }
}
